<h1>Creatures Index</h1>

<div class="container">
  <% @creatures.each do |creature| %>
    <div class="well">
      <p><%= creature.name %></p>
      <p><%= creature.description %></p>
      <%= link_to "Edit Creature", creature_path(creature) %>
    </div>
  <% end %>
</div>

