<h1>New Creature</h1>

<div class="container">
  <%= bootstrap_form_for @creature do |t| %>
    <div>
      
      <%= t.text_field :name %>
    </div>

    <div>
          <%= t.text_area :description %>
    </div>

    <%= t.submit %>
  <% end %>
</div>
